body {
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(230, 227, 227);
  display: flex;
  flex-direction: column;
  background-image: url("img/pattern.jpg");
  background-blend-mode: overlay;
  background-size: cover;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

#head {
  height: 80px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#navbar {
  width: 550px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#home {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mainheading {
  font-size: 60px;
  font-weight: bold;
}

#mainintro {
  font-size: larger;
  font-weight: bolder;
}

#mainbutton {
  height: 100px;
  width: 600px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  height: 40px;
  width: 200px;
  background-image: linear-gradient(
    90deg,
    rgb(204, 175, 228),
    rgb(171 229 234)
  );
  outline: 3px solid black;
  outline-offset: 5px;
  border-radius: 30px;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
}

.button:hover {
  outline-offset: 10px;
  color: brown;
}

#student {
  height: 400px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-self: center;
  background: rgb(195, 207, 219);
  overflow: hidden;
  margin: 50px;
}

#studentarea,
#studentpic {
  grid-row: 1/2;
  align-self: center;
}

#studentarea {
  padding: 30px;
  background-color: antiquewhite;
  grid-column: 4/10;
}

#studentpic {
  width: 400px;
  height: 400px;
  grid-column: 1/5;
}

#teacher {
  height: 400px;
  width: 80%;
  display: grid;
  background-color: rgb(204, 175, 228);
  grid-template-columns: repeat(10, 1fr);
  margin: 50px;
  align-self: center;
}

#teacherarea,
#teacherpic {
  grid-row: 1/2;
  align-self: center;
}

#teacherarea {
  padding: 30px;
  background-color: antiquewhite;
  grid-column: 2/7;
}

#teacherpic {
  width: 400px;
  height: 400px;
  grid-column: 6/11;
}

#footer {
  width: 98%;
  height: 20px;
  background-color: rgb(180, 153, 120);
  text-align: center;
  padding: 10px;
  align-self: center;
  margin-top: 100px;
}

.formtitle {
  text-align: center;
}

.formarea {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.formpic,
.forms {
  grid-row: 1/2;
  align-self: center;
}

.formpic {
  width: 600px;
  height: 600px;
  grid-column: 2/5;
}

.forms {
  width: 800px;
  height: 400px;
  background: rgb(168, 168, 168);
  grid-column: 4/10;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#noAccount {
  text-align: center;
  margin: 10px;
  font-size: 30px;
}

.highlight {
  color: red;
  font-size: 40px;
  text-decoration: underline;
}
