body {
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(230, 227, 227);
  display: flex;
  flex-direction: column;
  background-image: url("img/pattern.jpg");
  background-blend-mode: overlay;
  background-size: cover;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

#head {
  height: 80px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#navbar {
  width: 550px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#home {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mainheading {
  font-size: 60px;
  font-weight: bold;
}

#mainintro {
  font-size: larger;
  font-weight: bolder;
}

#mainbutton {
  height: 100px;
  width: 600px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  height: 40px;
  width: 200px;
  background-image: linear-gradient(
    90deg,
    rgb(204, 175, 228),
    rgb(171 229 234)
  );
  /* outline: 3px solid rgb(91, 32, 255);
  outline-offset: 5px; */
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  box-shadow: 5px 5px 10px 1px rebeccapurple;
}

.button:active {
  outline-offset: 10px;
  color: brown;
}

#student {
  height: 400px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-self: center;
  background: rgb(195, 207, 219);
  overflow: hidden;
  margin: 50px;
}

#studentarea,
#studentpic {
  grid-row: 1/2;
  align-self: center;
}

#studentarea {
  padding: 30px;
  background-color: antiquewhite;
  grid-column: 4/10;
}

#studentpic {
  width: 400px;
  height: 400px;
  grid-column: 1/5;
}

#teacher {
  height: 400px;
  width: 80%;
  display: grid;
  background-color: rgb(204, 175, 228);
  grid-template-columns: repeat(10, 1fr);
  margin: 50px;
  align-self: center;
}

#teacherarea,
#teacherpic {
  grid-row: 1/2;
  align-self: center;
}

#teacherarea {
  padding: 30px;
  background-color: antiquewhite;
  grid-column: 2/7;
}

#teacherpic {
  width: 400px;
  height: 400px;
  grid-column: 6/11;
}

#footer {
  width: 98%;
  height: 20px;
  background-color: rgb(180, 153, 120);
  text-align: center;
  padding: 10px;
  align-self: center;
  margin-top: 100px;
}

.formtitle {
  text-align: center;
  background-color: rgb(196, 196, 196);
}

.formarea {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.formpic,
.forms {
  grid-row: 1/2;
  align-self: center;
}

.formpic {
  width: 500px;
  height: 500px;
  grid-column: 2/5;
}

.forms {
  width: 600px;
  height: 450px;
  background: rgb(168, 168, 168);
  grid-column: 4/10;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#noAccount {
  text-align: center;
  margin: 10px;
  font-size: 30px;
}

.highlight {
  color: red;
  font-size: 40px;
  text-decoration: underline;
}

#Requirement {
  align-content: center;
  margin: 100px;
  text-align: center;
}

#locsearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}

#searcharea {
  width: 300px;
  height: 40px;
  background: rgb(187, 187, 187);
  color: black;
  border-radius: 10px;
  margin-right: 100px;
  font-size: 20px;
  text-align: center;
}

.basicinfo {
  width: 100%;
  height: 300px;
  background: rgb(73, 140, 194);
  display: flex;
  flex-direction: row;
}

.profilepic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(171, 192, 185);
  position: relative;
  top: 80px;
  left: 50px;
  margin-right: 300px;
}

.profileinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid black;
  box-sizing: border-box;
}

.signupcontainer {
  width: 400px;
  height: 300px;
  padding: 25px;
  margin: 30px 0 100px 150px;
  font-size: 20px;
  font-weight: bold;
}

.logincontainer {
  width: 400px;
  height: 500px;
  padding: 25px;
  margin: 30px 0 0 150px;
  font-size: 20px;
  font-weight: bold;
}

.usertype {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 5px;
}

.addReqcontainer {
  width: 400px;
  height: 500px;
  padding: 25px;
  margin: 30px 0 0 150px;
  font-size: 20px;
  font-weight: bold;
}

.Reqlist {
  width: 100%;
  height: 600px;
  font-size: larger;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editprofilecontainer {
  width: 400px;
  height: 500px;
  padding: 25px;
  margin: 30px 0 0 150px;
  font-size: 20px;
  font-weight: bold;
}
