body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: rgb(56, 56, 56);
}

.head {
  height: 80px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
}

.home {
}

.main {
  height: 80px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
}

.student {
  height: 80px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
}

.teacher {
  height: 80px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
}
